main.article {
  width: 70.4rem;
  height: 26.7rem;
}

  div.card {
    display: flex;
    align-items: center;
    border-radius: .8rem;
  }

    img{
      width: 330px;
    }

    div.conteudo {
      background: #fdfdfdf0;
      border-radius: 0 .8rem .8rem 0;
      padding: 3rem;
      position: relative;
    }

      div.texto h1 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--very-dark-grayish-blue);
      }

      div.texto p {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--desaturated-dark-blue);
        margin: 1.2rem 0;
      }

      div.descricao {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

        div.perfil {
          display: flex;
          align-items: center;
        }

          img.avatar {
            width: 36px;
            border-radius: 50%;
          }

          div.dados {
            margin-left: 1.2rem;
          }

            h2.nome {
              font-size: 1rem;
              font-weight: 700;
              color: var(--very-dark-grayish-blue);
              margin-bottom: .2rem;
            }

            span.data {
              font-size: 1.1rem;
              font-weight: 500;
              color: var(--desaturated-dark-blue);
            }

        button.button-share {
          background: var(--light-grayish-blue);
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          border: none;
          background-image: url('../images/icon-share.svg');
          background-repeat: no-repeat;
          background-position: center;
        }

        button.button-share:hover {
          cursor: pointer;
        }

        div.share {
          display: flex;
          align-items: center;
          position: absolute;
          background: var(--very-dark-grayish-blue);
          top: 14rem; 
          right: -2.8rem;
          padding: 1.2rem 2.4rem;
          border-radius: .6rem;
          transition: all .5s;
          opacity: 0;
        }

        div.active {
          opacity: 1;
          transform: translateX(2rem);
        }

        div.share h3 {
          color: var(--desaturated-dark-blue);
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .4rem;
        }

        div.share ul {
          display: flex;
          align-items: center;
        }

        div.share ul li {
          list-style: none;
          margin-left: 1.2rem;
        }

        div.share ul li a img {
          width: 20px;
        }

        div.share::after {
          content: '';
          width: 0;
          height: 0;
          left: 90px;
          top: 45px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 15px solid var(--very-dark-grayish-blue);
          position: absolute;
        }

@media screen and (max-width: 425px) {

  main.article {
    width: 33.5rem;
    height: 45.7rem;
  }

    div.card {
      flex-direction: column;
    }

      div.conteudo {
        margin-bottom: 6.4rem;
        padding-bottom: 1.8rem;
      }

      div.texto h1 {
        font-size: 1.7rem;
      }

      div.texto p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 1.2rem;
      }

      div.descricao {
        margin-top: 2.3rem;
      }

      button.button-share {
        z-index: 1;
      }
      
      div.share {
        width: 100%;
        right: 0rem;
        top: 23.5rem;
        padding: 1.8rem 2.4rem;
      }

      div.active {
        transform: translateY(-1rem);
      }

      div.share::after {
        display: none;
      }

      div.share ul li {
        margin-left: 2rem;
      }

      div.share ul li a img {
        width: 22px;
      }
}